* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 55s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
    --dark: #1e292f;
    --orange: #eaa05b;
    --yellow: #eae85b;
    --lightyellow: #ffeb00;
    --red: #ea5b5d;
    --green: #5beaa0;
    --blue: #5ba5ea;
    --grey: rgb(190, 190, 190);
    --header-font: 'Montserrat';
    --text-font: 'Manjari';
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--header-font);
    color: #fff;
}

div, p, span {
    font-family: var(--text-font);
} 

p {
    color: var(--grey);
}

ul {
    list-style: none;
    padding-top: 10px;
}

li {
    padding: 3px;
}

.App {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    background-color: var(--dark);
    margin:0 auto;
    overflow: hidden;
}

.column {
    width: 50%;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

/* INTRO */

.intro, .skills, .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 40px;
    height: 100%;
}

.name {
    font-family: var(--header-font);
    font-size: 4rem;
}

.avatar {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    object-fit: scale-down;
    filter: drop-shadow(-4px 4px 5px black);
}

.intro-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 600px;
}

.intro-description p {
    margin: 25px 0;
}

.social-media {
    width: fit-content;
}

.social-media img {
    margin: 10px 10px;
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
}

/* SKILLS */

.skills {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0px 14px 10px var(--red);
    padding-bottom: 6rem;
}

.stack {
    height: 100%;
}

.stack ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: space-around;
    position: relative;
}

.stack li {
    display: flex;
    width: 33%;
    justify-content: center;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.selected-card {
    font-size: clamp(14px, 2.2vw, 1.5rem); /* (MIN, VAL, MAX) */
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(167, 143, 143);
    background-color: rgb(134, 125, 125);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selected-card span {
    font-size: 2em;
}

.selected-card img {
    height: 2em;
    width: 2em;
    margin-right: 1rem;
}

.selected-card div {
    margin-top: 15px;
    font-size: 1em;
}

.proficiencies {
    padding: 20px 0;
    color: var(--grey);
}

/* EXPERIENCE */

.experience {
    font-size: 14px;
    display: flex;
    justify-content: center;
    transform: translateY(-60%);
}

.experience-container {
    margin: 0 2rem;
    background-color: rgb(110, 104, 104);
    width: 200px;
    border-radius: 4px;
}

.experience-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.number-large {
    font-family: Cinzel;
    color: var(--red);
    font-size: 3rem;
    font-weight: 800;
    margin-right: 1rem;
}

.number-large + span {
    color: white;
    font-size: 1.1rem;
    max-width: 85px;
}

/* PROJECTS */

.projects-container {
    margin-top: 10px;
    color: #fff;
}

.projects-header {
    text-align: center; 
    font-size: 30px;
}

.projects h3 {
    color: var(--red);
    margin-bottom: 8px;;
}

.project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project-container {
    margin-bottom: 30px;
    min-height: 100px;
    position: relative;
}

.project-gh {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    filter: brightness(.6);
}

.project-description {
    padding: 14px;
    background-color: darkslategray;
    color: var(--grey);
    border-radius: 5px;
    box-shadow: 4px 4px 5px black;

}

.project-description p {
    padding: 5px 0;
}

.project-example {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 5px black);

}

.project-example img {
    height: 85%;
    width: 90%;
}

/* FOOTER */

.footer {
    height: 100%;
    background-color: #000;
    position: relative;
    padding: 30px;
}

.contact-me {
    margin: 40px 50px;
    display: inline-block; /* needed to prevent margin collapse */
}

.contact-me h3 {
    margin-bottom: 10px;
}

.contact-me a {
    display: inline-flex;
    align-content: baseline;
    margin: 10px;
    color: var(--red);
    text-decoration: none;
}

.social-media-footer {
    display: flex;
    justify-content: center;
}

.thanks {
    text-align: center;
}

text {
    font-size: 20px;
    font-weight: 800;
    fill: white;
}

#bucket-list {
    width: 170px;
    height: 330px;
}

#notepod {
    width: 220px;
    height: 315px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
    }
    .skills {
        padding-bottom: 3rem;
    }
    .experience-content {
        padding: 1rem 0rem;
    }
    .number-large {
        font-size: 2.5rem;
    }
    .number-large + span {
        font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
    .experience-container {
        margin: 0 1rem;
    }
    .number-large + span {
        max-width: 70px;
    }
}